In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("/Users/ibm/Desktop/Python/Training/Kaggle/Kaggle_Titanic/train.csv")
test = pd.read_csv("/Users/ibm/Desktop/Python/Training/Kaggle/Kaggle_Titanic/test.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/Users/ibm/Desktop/Python/Training/Kaggle/Kaggle_Titanic/train.csv'

In [ ]:

def clean (data):
    data = data.drop(['Ticket','Name','Cabin','Embarked'],axis=1)
    
    return data
    
data = clean(data)
test = clean(test)

In [ ]:
data.head()
test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0          892       3    male  34.5      0      0   7.8292
1          893       3  female  47.0      1      0   7.0000
2          894       2    male  62.0      0      0   9.6875
3          895       3    male  27.0      0      0   8.6625
4          896       3  female  22.0      1      1  12.2875

In [ ]:
import sklearn
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

data_sex = data[['Sex']]

encoded_sex_data = label_encoder.fit_transform(data_sex)

gender_data = pd.DataFrame(encoded_sex_data,columns=['Male'])


test_sex = test[['Sex']]

encoded_sex_test = label_encoder.transform(test_sex)

gender_test = pd.DataFrame(encoded_sex_test,columns=['Male'])

gender_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Male    418 non-null    int64
dtypes: int64(1)
memory usage: 3.4 KB

/Users/ibm/Library/Python/3.8/lib/python/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/ibm/Library/Python/3.8/lib/python/site-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [ ]:
data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [ ]:
data = data.drop('Sex',axis=1)
test = test.drop('Sex',axis=1)

test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Age          332 non-null    float64
 3   SibSp        418 non-null    int64
 4   Parch        418 non-null    int64
 5   Fare         417 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 19.7 KB

In [ ]:
data.reset_index(drop=True,inplace=True)
test.reset_index(drop=True,inplace=True)
gender_df.reset_index(drop=True,inplace=True)

data_df = pd.concat([data,gender_data],axis=1).astype(float)

test_df = pd.concat([test,gender_test],axis=1).astype(float)

In [ ]:
data_df.info()
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    float64
 1   Survived     891 non-null    float64
 2   Pclass       891 non-null    float64
 3   Age          714 non-null    float64
 4   SibSp        891 non-null    float64
 5   Parch        891 non-null    float64
 6   Fare         891 non-null    float64
 7   Male         891 non-null    float64
dtypes: float64(8)
memory usage: 55.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    float64
 1   Pclass       418 non-null    float64
 2   Age          332 non-null    float64
 3   SibSp        418 non-null    float64
 4   Parch        418 non-null    float64
 5   Fare         417 non-null    float64
 6   Male         418 non-null    float64
dtypes: float64(7)
memory usage: 23.0 KB

In [ ]:
parched_data  = data_df.groupby('Parch').mean()
parched_data

,PassengerId,Survived,Pclass,Age,SibSp,Fare,Male
Parch,,,,,,,
0.0,445.255162,0.343658,2.321534,32.178503,0.237463,25.586774,0.713864
1.0,465.110169,0.550847,2.203390,24.422000,1.084746,46.778180,0.491525
2.0,416.662500,0.500000,2.275000,17.216912,2.062500,64.337604,0.387500
3.0,579.200000,0.600000,2.600000,33.200000,1.000000,25.951660,0.200000
4.0,384.000000,0.000000,2.500000,44.500000,0.750000,84.968750,0.500000
5.0,435.200000,0.200000,3.000000,39.200000,0.600000,32.550000,0.200000
6.0,679.000000,0.000000,3.000000,43.000000,1.000000,46.900000,0.000000

In [ ]:
def age_approx(cols):
    
    age =cols.iloc[0]
    parch = cols.iloc[1]
    
    
    if pd.isnull(age):
        if parch == 0:
            return 32
        if parch == 1:
            return 24
        if parch == 2:
            return 17
        if parch == 3:
            return 33
        if parch == 4:
            return 44
        if parch == 5:
            return 39
        
        else :
            return 43
    else:
      return age

In [ ]:
data_df['Age']= data_df[['Age','Parch']].apply(age_approx,axis=1)
data_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
Male           0
dtype: int64

In [ ]:
test_df['Age']= test_df[['Age','Parch']].apply(age_approx,axis=1)
test_df.info()

test_df.mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    float64
 1   Pclass       418 non-null    float64
 2   Age          418 non-null    float64
 3   SibSp        418 non-null    float64
 4   Parch        418 non-null    float64
 5   Fare         417 non-null    float64
 6   Male         418 non-null    float64
dtypes: float64(7)
memory usage: 23.0 KB

PassengerId    1100.500000
Pclass            2.265550
Age              30.527512
SibSp             0.447368
Parch             0.392344
Fare             35.627188
Male              0.636364
dtype: float64

In [ ]:
test_df['Fare'].fillna(32.63,inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split

x = data_df[['Pclass','Age','SibSp','Parch','Male','Fare']]
y = data_df[['Survived']]

y=y.values.ravel()

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(max_iter=500)
lr.fit(x_train,y_train)

LogisticRegression(max_iter=500)

In [ ]:
y_pred = lr.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test,y_pred)
print(accuracy)

0.8212290502793296

In [ ]:
predictions = lr.predict(test_df[['Pclass','Age','SibSp','Parch','Male','Fare']])

In [ ]:
test_df['PassengerId'] = test_df['PassengerId'].astype(int)
submission = test_df[['PassengerId']].copy()
submission['Survived'] = predictions

submission.to_csv("/Users/ibm/Desktop/submission_1.csv",index= False)