In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [6]:
address = '/Users/ibm/Desktop/Python/iris.data.csv'
dataset = pd.read_csv(address)
dataset.columns = ['Sepal Length','Sepal Width','Petal Length','Petal Width','Species']

dataset.head(10)

   Sepal Length  Sepal Width  Petal Length  Petal Width Species
0           4.9          3.0           1.4          0.2  setosa
1           4.7          3.2           1.3          0.2  setosa
2           4.6          3.1           1.5          0.2  setosa
3           5.0          3.6           1.4          0.2  setosa
4           5.4          3.9           1.7          0.4  setosa
5           4.6          3.4           1.4          0.3  setosa
6           5.0          3.4           1.5          0.2  setosa
7           4.4          2.9           1.4          0.2  setosa
8           4.9          3.1           1.5          0.1  setosa
9           5.4          3.7           1.5          0.2  setosa

In [7]:
dataset.Species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [10]:
x  = dataset.iloc[:,0:4]
x

     Sepal Length  Sepal Width  Petal Length  Petal Width
0             4.9          3.0           1.4          0.2
1             4.7          3.2           1.3          0.2
2             4.6          3.1           1.5          0.2
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

In [16]:
y = dataset.iloc[:,4:5]
y

       Species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
144  virginica
145  virginica
146  virginica
147  virginica
148  virginica

[149 rows x 1 columns]

In [17]:
#test_size ensures the ratio between traing and testing do in this cause 30% is tested 70% training

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [18]:
clf = DecisionTreeClassifier()
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [20]:
y_predict = clf.predict(x_test)
y_predict

array(['virginica', 'virginica', 'versicolor', 'versicolor', 'setosa',
       'virginica', 'virginica', 'versicolor', 'versicolor', 'versicolor',
       'setosa', 'setosa', 'versicolor', 'setosa', 'setosa', 'versicolor',
       'virginica', 'versicolor', 'setosa', 'setosa', 'setosa', 'setosa',
       'versicolor', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'setosa', 'setosa', 'virginica', 'setosa', 'versicolor',
       'versicolor', 'virginica', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'virginica', 'setosa',
       'versicolor', 'virginica', 'virginica'], dtype=object)

In [22]:
accuracy = metrics.accuracy_score(y_test,y_predict)
print('Accuracy:',accuracy)

Accuracy: 0.9111111111111111