In [559]:
import pandas as pd

In [560]:
train_df = pd.read_csv('/Users/ibm/Desktop/Python/Training/Kaggle/Kaggle Titanic/train.csv')
test_df = pd.read_csv('/Users/ibm/Desktop/Python/Training/Kaggle/Kaggle Titanic/test.csv')

train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [561]:
train_df.drop(['Name','Ticket','Cabin'],axis=1,inplace=True)

train_df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [562]:
train_df.head(10)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S
5            6         0       3    male   NaN      0      0   8.4583        Q
6            7         0       1    male  54.0      0      0  51.8625        S
7            8         0       3    male   2.0      3      1  21.0750        S
8            9         1       3  female  27.0      0      2  11.1333        S
9           10         1       2  female  14.0      1      0  30.0708        C

In [563]:
parch_groups =train_df.groupby(train_df['Parch'])
parch_groups.mean(numeric_only=True)

       PassengerId  Survived    Pclass        Age     SibSp       Fare
Parch
0       445.255162  0.343658  2.321534  32.178503  0.237463  25.586774
1       465.110169  0.550847  2.203390  24.422000  1.084746  46.778180
2       416.662500  0.500000  2.275000  17.216912  2.062500  64.337604
3       579.200000  0.600000  2.600000  33.200000  1.000000  25.951660
4       384.000000  0.000000  2.500000  44.500000  0.750000  84.968750
5       435.200000  0.200000  3.000000  39.200000  0.600000  32.550000
6       679.000000  0.000000  3.000000  43.000000  1.000000  46.900000

In [564]:
def age_approx(cols):
    
    age = cols.iloc[0]
    parch = cols.iloc[1]
    
    if pd.isnull(age):
        if parch == 0:
         return 32
        elif parch == 1:
         return 24
        elif parch == 2:
         return 17
        elif parch == 3:
         return 33
        elif parch == 4:
         return 44
        elif parch == 5:
         return 39
        else:
          return 43
     
    else:
        return age

In [565]:
train_df['Age']=train_df[['Age','Parch']].apply(age_approx,axis=1)
train_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       2
dtype: int64

In [566]:
train_df =train_df.dropna(axis=0)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Sex          889 non-null    object
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Fare         889 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 69.5+ KB

In [567]:
import sklearn
from sklearn.preprocessing import LabelEncoder 
label_encoder  = LabelEncoder()

gender_cat = train_df['Sex']

encoded_data = label_encoder.fit_transform(gender_cat)
encoded_data[0:5]

array([1, 0, 0, 0, 1])

In [568]:
gender_df = pd.DataFrame(encoded_data,columns=['Male'])

In [569]:
embarked_cat = train_df['Embarked']
encoded_embarked = label_encoder.fit_transform(embarked_cat)
encoded_embarked[0:100]

array([2, 0, 2, 2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 2, 2,
       1, 2, 2, 2, 0, 2, 1, 2, 0, 0, 1, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 0,
       1, 2, 1, 1, 0, 2, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 2, 2, 0, 0, 2,
       2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2])

In [570]:
from sklearn.preprocessing import OneHotEncoder

onehot_encoder = OneHotEncoder(categories='auto')

onehot_embarked = onehot_encoder.fit_transform(encoded_embarked.reshape(-1,1))
onehot_embarked_mat = onehot_embarked.toarray()

embarked_df = pd.DataFrame(onehot_embarked_mat,columns=['C','Q','S'])

embarked_df.head()

     C    Q    S
0  0.0  0.0  1.0
1  1.0  0.0  0.0
2  0.0  0.0  1.0
3  0.0  0.0  1.0
4  0.0  0.0  1.0

In [571]:
train_df = train_df.drop(['Sex','Embarked'],axis=1)

train_df.head(5)

train_df.info()

print(train_df.shape)
print(gender_df.shape)
print(embarked_df.shape)

gender_df.info()
embarked_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Age          889 non-null    float64
 4   SibSp        889 non-null    int64
 5   Parch        889 non-null    int64
 6   Fare         889 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 55.6 KB
(889, 7)
(889, 1)
(889, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Male    889 non-null    int64
dtypes: int64(1)
memory usage: 7.1 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       889 non-null    float64
 1   Q       889 non-null    float64
 2   S       889 non-null    float64
dtypes: float64(3)
memory usage: 21.0 KB

In [572]:
titanic_df = pd.concat([train_df,gender_df,embarked_df],axis=1,verify_integrity=True).astype(float)
titanic_df.head(10)

titanic_df = titanic_df.dropna(how='all')
titanic_df.info()
titanic_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 0 to 829
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    float64
 1   Survived     889 non-null    float64
 2   Pclass       889 non-null    float64
 3   Age          889 non-null    float64
 4   SibSp        889 non-null    float64
 5   Parch        889 non-null    float64
 6   Fare         889 non-null    float64
 7   Male         889 non-null    float64
 8   C            889 non-null    float64
 9   Q            889 non-null    float64
 10  S            889 non-null    float64
dtypes: float64(11)
memory usage: 83.5 KB

PassengerId    2
Survived       2
Pclass         2
Age            2
SibSp          2
Parch          2
Fare           2
Male           2
C              2
Q              2
S              2
dtype: int64

In [573]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Drop rows with missing values from both X and y
titanic_df_nn = titanic_df.dropna(subset=['Age', 'Pclass', 'SibSp', 'Parch', 'Male', 'Survived'])

# Define features (X) and target (y)
x = titanic_df_nn[['Age', 'Pclass', 'SibSp', 'Parch', 'Male']]
y = titanic_df_nn[['Survived']]

# Flatten y
y = y.values.ravel()

# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

# Check the shapes to ensure they are consistent
print(x_train.shape)
print(y_train.shape)

(709, 5)
(709,)

In [574]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [575]:
y_pred = model.predict(x_test)
# Convert continuous predictions to binary labels (0 or 1)
y_pred_binary = (y_pred >= 0.5).astype(int)

In [576]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test,y_pred_binary)
print('This is the accuracy score:',accuracy)

This is the accuracy score: 0.6910112359550562

In [577]:
from sklearn.linear_model import LogisticRegression

model_2 = LogisticRegression()

model_2.fit(x_train,y_train)

LogisticRegression()

In [578]:
y_pred2 = model_2.predict(x_test)

accuracy_lr = accuracy_score(y_test,y_pred2)


print('This is the accuracy score:',accuracy_lr)

This is the accuracy score: 0.6910112359550562

In [579]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()
rf_model.fit(x_train,y_train)

rf_pred = model.predict(x_test)
rf_pred_binary = (y_pred >= 0.5).astype(int)


rf_accuracy = accuracy_score(y_test,rf_pred_binary)
print('This is the accuracy score:',rf_accuracy)

This is the accuracy score: 0.6910112359550562

In [580]:
pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in /Users/ibm/Library/Python/3.8/lib/python/site-packages (2.1.3)
Requirement already satisfied: numpy in /Users/ibm/Library/Python/3.8/lib/python/site-packages (from xgboost) (1.24.4)
Requirement already satisfied: scipy in /Users/ibm/Library/Python/3.8/lib/python/site-packages (from xgboost) (1.10.1)
Note: you may need to restart the kernel to use updated packages.

In [581]:
import xgboost as xgb

xgb_model = xgb()
xgb_model.fit(x_train,y_train)

xgb_pred = model.predict(x_test)

xgb_accuracy = accuracy_score(y_test,xgb_pred)
print('This is the accuracy score:',xgb_accuracy)

XGBoostError:
XGBoost Library (libxgboost.dylib) could not be loaded.
Likely causes:
  * OpenMP runtime is not installed
    - vcomp140.dll or libgomp-1.dll for Windows
    - libomp.dylib for Mac OSX
    - libgomp.so for Linux and other UNIX-like OSes
    Mac OSX users: Run `brew install libomp` to install OpenMP runtime.

  * You are running 32-bit Python on a 64-bit OS

Error message(s): ["dlopen(/Users/ibm/Library/Python/3.8/lib/python/site-packages/xgboost/lib/libxgboost.dylib, 0x0006): Library not loaded: @rpath/libomp.dylib\n  Referenced from: /Users/ibm/Library/Python/3.8/lib/python/site-packages/xgboost/lib/libxgboost.dylib\n  Reason: tried: '/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/usr/local/lib/libomp.dylib' (no such file), '/usr/lib/libomp.dylib' (no such file)"]